   
<div class="col-md-2"></div>
<!-- ./col-md-2 -->

<div class="col-md-8">                    
    <form method="POST" action="login" id="login-form">
        <div class="form-row form-header">
            <h2>Accedi con il tuo profilo</h2>
        </div>
        <!-- ./form-row -->
        
        <div class="form-row">
            <label><i class="glyphicon glyphicon-user"></i></label>
            <input type="text" name="username" placeholder="Username">
        </div>
        <!-- ./form-row -->
        
        <div class="form-row">
            <label><i class="glyphicon glyphicon-lock"></i></label>
            <input type="password" name="password" placeholder="Password">
        </div>
        <!-- ./form-row -->
        
        <div class="form-row">
            <input type="submit" name="login" value="Login">
        </div>
        <!-- ./form-row -->
    </form>
</div>
<!-- ./col-md-8 -->

<div class="col-md-2"></div>
<!-- ./col-md-2 -->    

