<div class="row dati-profilo">
    <table class='tabella-risultati'>
        <tr>
            <th>Sviluppatore</th>
            <th>Skill</th>
            <th>Livello</th>
            <th>Email</th>
            <th></th>
        </tr>
        <tr>
            <td>Nome utente</td>
            <td>Css3</td>
            <td>7</td>
            <td>Email@email.it</td>
            <td class="text-right"><a href=""><i class='fa fa-handshake-o'></i> Invita</a></td>
        </tr>
        <tr>
            <td>Nome utente</td>
            <td>Css3</td>
            <td>7</td>
            <td>Email@email.it</td>
            <td class="text-right"><a href=""><i class='fa fa-handshake-o'></i> Invita</a></td>
        </tr>
        <tr>
            <td>Nome utente</td>
            <td>Css3</td>
            <td>7</td>
            <td>Email@email.it</td>
            <td class="text-right"><a href=""><i class='fa fa-handshake-o'></i> Invita</a></td>
        </tr>
        
    </table>
</div>