   
<div class="col-md-1"></div>
<!-- ./col-md-2 -->

<div class="col-md-3 profilo" >
    <div class="form-row img-profilo">
        <img src="img/account.png">
    </div>
    
    <div class="form-row">
        
        <label>Nome: Eugenio</label>
        <label>Cognome: Mancini</label>
        <label>Città: Avezzano</label>
        <label>Indirizzo: via ugo la malfa 64</label>
        <label>Telefono: 3888677139</label>
        
    </div>
    
       
</div>

<div class="col-md-5">                    
   
    <div class="menu-profilo">
        <nav>
            <ul>
                <li><a>I miei progetti</a></li>
                <li><a>Collaborazioni</a></li>
                <li><a>Anagrafica</a></li>
            </ul>
        </nav>
    </div>
    
</div>
<!-- ./col-md-8 -->

<div class="col-md-2"></div>
<!-- ./col-md-2 -->    

